@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Great+Vibes&family=Vidaloka&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css';

@import './base/resets.css';
@import './base/root.css';

@import './components/alert.css';
@import './components/avatar.css';
@import './components/badge.css';
@import './components/buttons.css';
@import './components/cards.css';
@import './components/form.css';
@import './components/image.css';
@import './components/lists.css';
@import './components/modal.css';
@import './components/nav.css';
@import './components/inputs/checkbox.css';
@import './components/inputs/radio.css';
@import './components/inputs/search.css';

@import './utilities/colors.css';
@import './utilities/container.css';
@import './utilities/display.css';
@import './utilities/flex.css';
@import './utilities/grid.css';
@import './utilities/spacing.css';
@import './utilities/typography.css';