:root {
  --clr-light-gray: #4b5563;
  --clr-dark-gray: #374151;

  --clr-dark: #1f2937;
  --clr-light: #f5f3ff;

  --clr-purple-light: #a78bfa;

  --gradient-blue-purple: linear-gradient(
    90deg,
    rgba(109, 40, 217, 1) 15%,
    rgba(124, 58, 237, 1) 37%,
    rgba(56, 189, 248, 1) 100%
  );
}
