:root {

    /* colors */
    --clr-primary: #6d28d9;
    --clr-primary-dark: #5b21b6;
    --clr-primary-light: #ddd6fe;

    --clr-secondary: #6b7280;
    --clr-secondary-dark: #374151;
    --clr-secondary-light: #e5e7eb;

    --clr-green: #16a34a;
    --clr-green-dark:#15803d;
    --clr-green-light: #90ee8a;

    --clr-yellow: #eab308;
    --clr-yellow-dark: #a16207;
    --clr-yellow-light: #fef08a;

    --clr-red: #dc2626;
    --clr-red-dark: #b91c1c;
    --clr-red-light: #ffcdce;

    --clr-blue: #60a5fa;
    --clr-blue-dark: #1d4ed8;
    --clr-blue-light: #bfdbfe;

    --clr-gray-light:#f3f4f6;
    --clr-gray: gray;
    --clr-dark-gray: #374151;
    

    /* box shadow */
    --bs-gray: 0px 3px 18px -5px #d1d5db;
    --bs-gray-dark: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    /* font-sizes */
    --fs-xxl: 3rem;
    --fs-xl: 2rem;
    --fs-lg: 1.5rem;
    --fs-md: 1.125rem;
    --fs-sm: 1rem;
    --fs-xs: 0.5rem;
    
    /* font-family */
    --ff-serif: "Lora", serif;
    --ff-cursive: 'Great Vibes', cursive;;
    
    /* font weights */
    --fw-normal: 400;
    --fw-semibold: 500;
    --fw-bold: 600;
    --fw-bolder: 700;

    /* line heights */
    --lh-xxl: 4rem;
    --lh-xl: 2.5rem;
    --lh-lg: 2rem;
    --lh-md: 1.5rem;
    --lh-sm: 1rem;
    
    /* sizing */
    --sz-xxl: 4rem;
    --sz-xl: 2.5rem;
    --sz-lg: 2rem;
    --sz-md: 1.5rem;
    --sz-sm: 1rem;
    --sz-xs: 0.5rem;

}